---
import { getLangFromUrl } from "/src/i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<select
  class="bg-tertiary border-[1px] rounded-xl px-2 py-[5px] border-slate-800 lang-select"
>
  <option value="fr">&#127467 &#127479</option>
  <option value="nl">&#127475 &#127473</option>
  <option value="en"> &#127468 &#127463</option>
  <option value="de">&#127465 &#127466</option>
</select>

<script define:vars={{ lang }}>
const langSelectOptions = document.querySelectorAll(".lang-select");

for (const langSelect of langSelectOptions) {
    const options = langSelect.options;
    for (let i = 0; i < options.length; i++) {
        if (langSelect[i].value === lang) {
            langSelect[i].selected = true;
            break;
        }
    }

    langSelect.addEventListener("change", () => {
        const path = window.location.pathname;
        const newPath = path.replace(
            /\/(fr|en|de|nl)\//,
            `/${langSelect.value}/`
        );
        window.location.pathname = newPath;
    });
}
</script>
