---
import {getLangFromUrl} from '/src/i18n/utils';
const lang = getLangFromUrl(Astro.url); 

---





    <select id="lang-select" class="bg-tertiary border-[1px] rounded-xl px-2 py-[5px] border-slate-800">
        <option value="fr">Français</option>
        <option value="nl">Nederlands</option>
        <option value="en">English</option>
        <option value="de">Deutsch</option>

    </select>

<script define:vars={{lang}}>
    const langSelectOptions = document.getElementById('lang-select');
    const options = langSelectOptions.options;
    for (let i = 0; i < options.length; i++) {
        if (langSelectOptions[i].value === lang) {
            langSelectOptions[i].selected = true;
            break;
        }
    }

    langSelectOptions.addEventListener('change', ()=>{
        const path = window.location.pathname;
        const newPath = path.replace(/\/(fr|en|de|nl)\//, `/${langSelectOptions.value}/`);
        window.location.pathname = newPath;
        
        }

    )


</script>