---
import "leaflet/dist/leaflet.css"


---



<script>
    
    import L from 'leaflet';


    const map = L.map('map').setView([50.64250, 5.58570,], 13)
        

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {    
            attribution:'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            minZoom: 7,
            maxZoom: 20,
        }).addTo(map);

  
</script>

<div id="map" style="max-height:calc(100vh-55px); height:100%; overflow:hidden;"></div>