---
import { ViewTransitions } from "astro:transitions";
import BaseHeader from "@components/layout/header/BaseHeader.astro";
import { getLangFromUrl } from "@i18n/utils";

const { title } = Astro.props;
import "./styles/base.css";
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | v-lock</title>

    <script is:inline>
      const theme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");
      document.documentElement.setAttribute("data-theme", theme);
    </script>

    <ViewTransitions />
  </head>
  <body class="text-black dark:text-white bg-tertiary">
    <BaseHeader />

    <slot />
  </body>
</html>
