---
import BaseLayout from "./BaseLayout.astro";
import Footer from "@components/layout/footer/Footer.astro";

const { container, title } = Astro.props;
---

<BaseLayout title={title}>
  <main class="bg-secondary p-8">
    <div class="container">
      <slot />
    </div>
  </main>
  <Footer />
</BaseLayout>
