@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
       --color-primary: 125, 211, 252;
       --color-secondary: 224 242 254;
       --color-tertiary: 0 0% 100%;
  }
  :root[data-theme='dark'] {
       --color-primary: 15, 23, 42;
       --color-secondary: 45 55 72;
       --color-tertiary: 222 47% 11%; 
  }
    h1 {
        @apply text-5xl py-3 font-bold;
    }
    h2 {
        @apply text-4xl py-4 font-semibold;
    }
    h3 {
        @apply text-2xl py-2 font-semibold;
    }
}


*, *::before, *::after {
   box-sizing: border-box;
}

html, body {
   width: 100%;
   max-width: 100vw;
   height: 100vh;
   overflow-x:hidden;
   font-size: calc(14px + 0.002 * 100vw);
   display:grid;
   grid-template-rows: auto 1fr auto;
}

input, textarea, button {
   font-family: inherit;
   font-size: inherit;
   color: black;
   padding:1rem;
}

[data-theme='dark'] button {
    color: white;
}